<?php
/**
 * @var \ContactApp\Model\Book $contactBook
 */
$addressCounter = 1;
?>
<html lang="en">
<head>
    <title>Test assignment</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
    >
</head>
<style>
    html, body {
        background-color: #4e555b;
    }

    .address.card {
        margin-top: 64px;
    }
</style>
<body>
<main>
    <section class="book container">
        <?php foreach ($contactBook->getAddresses() as $address): ?>
            <?php $contactCounter = 1; ?>
            <article class="address card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <th>Book record</th>
                                    <td>
                                        #<?= $addressCounter++ ?>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Address
                                    </th>
                                    <td>
                                        <?= (string)$address ?>
                                    </td>
                                </tr>
                                <?php if ($address->hasContacts()): ?>
                                    <tr>
                                        <th>
                                            Contacts
                                        </th>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-borderless">
                                                        <thead class="thead-light">
                                                        <tr>
                                                            <th>
                                                                #
                                                            </th>
                                                            <th>
                                                                Email
                                                            </th>
                                                            <th>
                                                                Name
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <?php foreach ($address->getContacts() as $contact): ?>
                                                            <tr>
                                                                <td>
                                                                    <?= $contactCounter++ ?>
                                                                </td>
                                                                <td>
                                                                    <?= $contact->getEmail() ?>
                                                                </td>
                                                                <td>
                                                                    <?= $contact->getName() ?>
                                                                </td>
                                                            </tr>
                                                        <?php endforeach; ?>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                <?php endif; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        <?php endforeach; ?>
    </section>
</main>
</body>
</html>


